<div style="padding-top: 2em;"> <!-- pad this a little so the card aligns with pinned app icons better -->
  <div class="card">
    <h2 class="card-header apps-section-header-blue">Helpful Links</h2>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="https://carmen.osu.edu" target="_blank">OSU Carmen</a>
        </li>
        <li class="list-group-item">
          <a class="card-link" href="https://whitlockschluter3e.zoology.ubc.ca" target="_blank">OSU STAT 2480 textbook: <em>The Analysis of Biological Data</em></a>
        </li>
      </ul>
    </div>
  </div>
</div>